button.modais{
  margin-top: 7px;
  margin-right: 5px;
}


img.img{
  height: 10em;
  width: 15em;
}

#corpo{
  margin-top: 6em;
  width: 70%;
  margin-left: 15%;

}
div#dados{
  margin-top: 70px;
}
  input.pesq{
  width: 40em;
}    
.pesq{
  margin-top: 7px;
  margin-left: 7px;
}
footer {
      background-color: #000000;
      padding: 25px;
      color: white;
}
#corpo{
  height: 1000px;
}